* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100vh;
    background-color: black;
    font-family: 'anton_SC',
        Arial,
        Helvetica,
        sans-serif;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./assets/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        opacity: 0.5;
    }
}

canvas {
    position: relative;
    background-color: black;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 5px solid black;
    display: block;
}

h1 {
    position: absolute;
    z-index: 99;
    top: -70px;
    left: 0;
    right: 0;
    color: white;
    font-size: 48px;
    letter-spacing: 8px;
    filter: drop-shadow(2px 4px 3px black);
    text-align: center;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controlBTNAreaALL {
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
}

#controlBTNAreaLeft,
#controlBTNAreaRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 20px;
}

#controlBTNAreaLeftFirstLine,
#controlBTNAreaLeftSecondLine,
#controlBTNAreaRightFirstLine,
#controlBTNAreaRightSecondLine {
    display: flex;
    gap: 8px;
}

.controlBTN {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlBTN:hover,
.controlBTN:active {
    background-color: #571d86;
}

.controlBTN:focus {
    border: 2px solid white;
}

.controlBTN img {
    width: 80%;
    height: 80%;
}

#controlBTNDescription {
    position: absolute;
    z-index: 99;
    bottom: -80px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#controlBTNDescriptionMove,
#controlBTNDescriptionAttack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: white;
    font-size: 14px;
}

.controlBTNContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.descriptionBTNText {
    margin-left: 8px;
    flex-grow: 1;
}

.descriptionBTN {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.descriptionBTN img {
    width: 80%;
    height: 80%;
}

.d_none {
    display: none !important;
}

#menue {
    position: absolute;
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px
}

button {
    cursor: pointer;
}

.menueBTN {
    width: 300px;
    padding: 10px 50px;
    border-radius: 16px;
    background-color: #bf067f;
    color: white;
    border: 2px solid white;
    font-family: 'anton_SC',
        Arial,
        Helvetica,
        sans-serif;
    letter-spacing: 4px;
    box-shadow: 0 4px 0 #630040;
    transition: all 200ms ease-in-out;
}

.menueBTN:hover {
    background-color: #d81d97;
    box-shadow: 0 6px 0 #630040;
    transform: translateY(-2px);
}

.menueBTN:active {
    background-color: #da1093;
    box-shadow: none;
    transform: translateY(6px);
}


#muteContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.specialBTN {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    transition: all 200ms ease-in-out;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto;
}

.specialBTN:hover {
    background-color: rgba(0, 0, 0, 0.6);

}

#muteBtn {
    position: sticky;
    top: 16px;
    z-index: 999;
}

.endScreen {
    position: absolute;
    background-color: #91d3e367;
    border-radius: 32px;
    top: 104px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.resultIMG {
    width: 90%;
    transform: rotate(-8deg);
}

#fullscreenBTN {
    position: absolute;
    top: 170px;
    right: 15px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    z-index: 99;
}

#fullscreenBTN:hover {
    transform: scale(1.1);
}

.menuePage {
    position: absolute;
    background-color: #571d86;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 18px;
}

.menuePage h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
    filter: drop-shadow(2px 4px 3px black);
}

.menuePage h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    filter: drop-shadow(2px 4px 3px black);
}

.controlMenueAreas {
    display: flex;
    justify-content: center;
    gap: 24px;
}

#controlMenueAttack,
#controlMenueMove {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.descriptionMenueBTN {
    width: 50px;
    height: 50px;
}



#menueControlBTN,
#menueDescriptionBTN,
#lostMenueBTN,
#winMenueBTN,
#menueEnemiesBTN,
#menueItemsBTN {
    background-color: #571d86;
}

.legalLink {
    font-size: 12px;
}

.impressumText {
    text-align: center;
    font-size: 16px;
}

#descriptionMenue {
    gap: 16px;
}

.descriptionContainers {
    display: flex;
    flex-direction: column;
    gap: 32px;
    letter-spacing: 1px;
    font-size: 16px;
}

.descriptionContainerEnemyType {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.descriptionContainerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionContainerIMG img {
    width: 50px;
    height: auto;
}

#endbossProfileIMG {
    width: 100px;
}

.descriptionContainerText {
    display: flex;
    flex-direction: column;
}

.descriptionContainerTextProperty {
    display: flex;
    gap: 8px;
}

.easy {
    color: limegreen;
}

.middle {
    color: yellow;
}

.hard {
    color: orange;
}

.extreme {
    color: tomato;
}

.runaway {
    color: red;
    text-shadow: 2px 4px 13px rgba(209, 0, 255, 1);
    animation: pulse 1000ms ease-in-out infinite;
}

/* The animation code */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.characterDescriptionContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    letter-spacing: 1px;
}

.characterDescriptionContainer img {
    width: 200px;
    height: auto;
}

.characterDescriptionContainer p {
    max-width: 46ch;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.itemMainInfo {
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    /* gap: 8px; */
}

.itemMainInfo img {
    width: 35px;
    height: auto;
}

.item :nth-child(2) {
    width: 50ch;
}

#handyOverlay {
    position: absolute;
    background-image: url('./assets/img/smartphone_horizontal_white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

/* Media Screen im Querformat*/
@media only screen and (orientation:landscape) {
    #handyOverlay {
        display: none;
    }
}

/* Media Screen im Hochformat*/
@media only screen and (orientation:portrait) {
    #muteContainer {
        display: none;
    }

    #muteContainer {
        display: none;
    }
}

/*Screen widht < Xpx*/
@media only screen and (max-width:685px) {
    #controlBTNDescription {
        display: none;
    }

    h1 {
        display: none;
    }
}

/*Screen height < Xpx*/
@media only screen and (max-height:600px) {
    h1 {
        display: none;
    }
}

/*Screen height over Xpx*/
@media only screen and (max-height:670px) {
    #controlBTNDescription {
        display: none;
    }
}