* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
    background-color: black;
    font-family: 'anton_SC',
        Arial,
        Helvetica,
        sans-serif;



    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./assets/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        opacity: 0.5;
    }
}

canvas {
    position: relative;
    background-color: black;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 5px solid black;
    display: block;
}

h1 {
    position: relative;
    color: white;
    margin-top: 32px;
    font-size: 48px;
    letter-spacing: 8px;
    filter: drop-shadow(2px 4px 3px black);

}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controlBTNAreaALL {
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
}

#controlBTNAreaLeft,
#controlBTNAreaRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 20px;
}

#controlBTNAreaLeftFirstLine,
#controlBTNAreaLeftSecondLine,
#controlBTNAreaRightFirstLine,
#controlBTNAreaRightSecondLine {
    display: flex;
    gap: 8px;
}

.controlBTN {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlBTN:hover,
.controlBTN:active {
    background-color: rgba(0, 0, 255, 0.7);
}

.controlBTN:focus {
    border: 2px solid white;
}

.controlBTN img {
    width: 80%;
    height: 80%;
}

#controlBTNDescription {
    position: absolute;
    z-index: 99;
    bottom: -80px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#controlBTNDescriptionMove,
#controlBTNDescriptionAttack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: white;
    font-size: 14px;
}

.descriptionBTNContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionBTN {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionBTN img {
    width: 80%;
    height: 80%;
}

.d_none {
    display: none !important;
}

#menue {
    position: absolute;
    /* background-color: #104a70; */
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px
}

.menueBTN {
    width: 300px;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #2894b8;
    color: white;
    font-family: 'anton_SC',
        Arial,
        Helvetica,
        sans-serif;
    letter-spacing: 4px;

}

.menueBTN:hover {
    background-color: #91d3e3;

}

#muteContainer {
    position: absolute;
    top: 115px;
    right: 15px;
}

#muteBtn {
    position: sticky;
    top: 16px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    transition: all 200ms ease-in-out;
    padding: 8px;
    border-radius: 5px;
}

#muteBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}