* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100dvh;
    background-color: black;
    font-family: 'anton_SC',
        Arial,
        Helvetica,
        sans-serif;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./assets/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        opacity: 0.5;
    }
}

h1 {
    position: absolute;
    z-index: 99;
    top: -70px;
    left: 0;
    right: 0;
    color: white;
    font-size: 48px;
    letter-spacing: 8px;
    filter: drop-shadow(2px 4px 3px black);
    text-align: center;
}

#muteContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.specialBTN {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    transition: all 200ms ease-in-out;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto;
}

.specialBTN:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#muteBtn {
    position: sticky;
    top: 16px;
    z-index: 99;
}